<mat-toolbar color="primary">
  <!--<button mat-icon-button class="header-icon" aria-label="Logo">
    <mat-icon>menu</mat-icon>
  </button>
  -->
  <span>THH - Home Smartcontrol</span>
  <span class="header-spacer"></span>
  <button mat-button [routerLink]="['/control']" >Steuerung</button>
  <button mat-button [routerLink]="['/camera']" >Kamera</button>
  <!--<button mat-icon-button class="header-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="header-icon">
    <mat-icon>share</mat-icon>
  </button>
  -->
</mat-toolbar>
